@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&subset=latin,latin-ext");

.show-btn {
	background: #fff;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 500;
	color: #3498db;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* .show-btn, .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} */

input[type="checkbox"] {
  	display: none;
}

#card-create-wrap {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	z-index: 3;
}

.container {
	position: relative;
	display: block;
	background: rgb(55,55,55);
	width: 410px;
	padding: 30px;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
	color: white;
}

.container .text {
  	color: white !important;
}

.container .close-btn {
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 18px;
	cursor: pointer;
}

.container .close-btn:hover {
  	color: #3498db;
}

.container .text {
	font-size: 35px;
	font-weight: 600;
	text-align: right;
}

.container form {
  	margin-top: -20px;
}

.container form .data {
	height: 45px;
	width: 100%;
	margin: 40px 0;
}

form .data label {
  	font-size: 18px;
}

form .data input {
	height: 100%;
	width: 100%;
	padding-left: 10px;
	font-size: 17px;
	color: black;
	border: 1px solid silver;
}

form .data input:focus {
	border-color: #3498db;
	border-bottom-width: 2px;
}

form .forgot-pass {
  	margin-top: -8px;
}

form .forgot-pass a {
	color: #3498db;
	text-decoration: none;
}

form .forgot-pass a:hover {
  	text-decoration: underline;
}

form .btn {
	margin: 30px 0;
	height: 45px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

form .btn .inner {
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	background: -webkit-linear-gradient(right, #587577, #4f4057, #587577, #4f4057);
	transition: all 0.4s;
	z-index: 1;
}

form .btn:hover .inner {
  	left: 0%;
}

form .btn button {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background: none;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	z-index: 15;
}

form .signup-link {
  	text-align: center;
}

form .signup-link a {
	color: #3498db;
	text-decoration: none;
}

form .signup-link a:hover {
  	text-decoration: underline;
}

#card-list {
	position: absolute;
	top: 2%;
	left: 15px;
	width: 400px;
	height: 98%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	/* grid-auto-rows: 50px; */
	overflow-y: scroll;
	color: white;
}

.card-entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: 98%;
	border: solid 1px black;
	border-radius: 5px;
}

.card-entry div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
}

.card-entry div span {
	min-width: 100px;
	font-weight: bold;
}

.card-entry-delete, .card-entry-select {
	display: block !important;
	text-align: center;
	width: fit-content !important;
	max-width: 80px;
	background-color: red;
	color: white;
	border-radius: 5px;
	margin: 20px 0px;
	padding: 2px 5px;
}

.card-entry-delete:hover {
  	background-color: rgb(151, 0, 0);
}

.card-entry-select {
  	background-color: green;
}

.card-entry-select:hover {
  	background-color: rgb(4, 189, 4);
}

.card-entry.selected {
  	border: solid 5px green;
}

.balance-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(34, 37, 80);
	width: 35%;
	height: 70%;
	border-radius: 5px;
	color: white;
}

#added-amount {
	display: none;
  	font-size: 50px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
}

.price.panel-grey > .panel-heading {
	color: #fff;
	background-color: #6D6D6D;
	border-color: #B7B7B7;
	border-bottom: 1px solid #B7B7B7;
}

.price.panel-grey > .panel-body {
	color: #fff;
	background-color: #808080;
	height: 130px;
}

.price.panel-grey > .panel-body .lead {
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-grey .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* COMMON PRICING STYLES */
.panel.price,
.panel.price > .panel-heading {
	border-radius:0px;
	transition:  all .3s ease;
}

.panel.price:hover {
 	box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}

.panel.price:hover > .panel-heading {
  	
}

.panel.price > .panel-heading {
	box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
	text-shadow:0px 3px 0px rgba(50,50,50, .6);
}

.price .list-group-item {
  	border-bottom:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.panel.price .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.price .panel-footer {
	color: #fff;
	border-bottom:0px;
	background-color:  rgba(0,0,0, .1);
	box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}


.panel.price .btn {
	box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
	border:0px;
}

#add-balance {
	width: 175px;
	height: 90px;
	margin: 10px;
	font-size: 60px;
	color: black;
	text-align: center;
}

#add-vehicle-button {
  	
}